:root {
    --gradient-from: #4ade80;
    --gradient-to: #447AEE;
    --tw-gradient-stops: var(--gradient-from), var(--gradient-to);
    --text: rgb(51 65 85);
    --text-dark: #FFF;
    --text-cyan: rgb(8 145 178);
    --text-slate: rgb(100 116 139);
    --text-teal: rgb(20 184 166);
    --border: rgb(243 244 246);
    --bg: #FFFFFF;
    --accent: var(--text-cyan);
    --accent-hover: rgb(13 148 136);
    --accent-text: var(--bg);
    --preformatted: #ccc;
    --marked: #ffdd33;
    --disabled: #efefef;
}

/* Force light mode - override Simple.css dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #FFFFFF;
    --accent-bg: #f5f7ff;
    --text-light: #585858;
    --preformatted: #ccc;
  }
}

body > header {
    border-color: var(--border);
    background: var(--bg);
}
body > header nav {
    display: flex;
    align-items: center;
}
body > header a.header-logo {
   border: 0;
   padding: 0;
   display: flex;
   align-items: center;
}
body > header a.header-logo:hover {
    background-color: unset;
}
body > header a.header-logo > img {
    height: 46px;
    width: auto;
}
body > header a.header-logo-small > img {
    height: 1em;
    width: auto;
}
body > header .bg-gradient-wrap {
    /* ensure element tightly wraps text */
    display: flex;
}

.pills {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-top: 1em;
    align-items: stretch;
}
.pills > div {
    border-radius: 0.75rem;
    flex: 1;
}
.pills > div > p {
    margin: 0;
}
@media (min-width: 768px) {
  .pills{
    flex-direction: row;
  }
  .pills > div {
      width: 33%;
  }
}

body > main > pre {
    font-size: 0.8rem;
}
